@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  text-decoration: none;
  list-style: none;
  color: black;
  box-sizing: border-box;
}
.listsuggest{
  margin-left: -30em;
  margin-top: 0em;
}
.list{
  margin-top: 3em;
  z-index: 1000;
}
.sidebar{
  margin-left: 2em;
  padding:-10em;
}
.sidebar h4{
  cursor: pointer;
  
}
/*button component*/
.button{
  padding: '10px';
  height: '3px';
  background-color: rgb(197, 195, 195);
  border: none;
  
}
.buttonlist{
  margin: 10px;
  margin-top: 0em;
  border: none;
  border-radius: 10px;
  margin-left: 4em;
  
}
.buttonlist Button{
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.video{
  display: flex;
  flex-wrap: wrap;
}
.title{
  width: 250px;
  white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-weight: bolder;
    color: black;
}
.thumbnail{
  
  width: 276px;
  height: 200px;
  margin: 0.5em;
  border-radius: 20px;
}
.tiltename{
  font-weight: lighter;
  font-size: 2em;
}
.listVideo{
  margin-left: -25px;
  margin-top: -10px;
  margin-bottom: 10px;
}
/*watchpage*/
.watch{
  display: flex;
  flex-direction: column;
}
.videoframe{
 padding-inline: 80px;
}
/*commentsContainer*/

.avatarcom{
  height: 2em;
   width: 2em;
}
.comments{
  padding-left: 1.2em;
  margin-left: 20px;
  display: flex;
  background-color: rgb(224, 223, 223);
  border-radius: 20px;
  margin-block: 0.7em;
  padding: 0.4em;
}
.comment{
  margin-left: 1em;
  
}
.replies{
  padding-left: 5em;
  border: 0.4px solid black;
  margin-left: 5em;
}
.container{
  margin: 10px;
  padding: 32px;
}
@media screen and (min-width:200px) and (max-width: 600px){
  
.navbar{
  display: flex;
  flex-direction: column;
  padding: 0;
}
  button {
  display: none;
  }
#avatarimg{
display: none;}
  #search{
   padding: 1em;
   margin-left: -2em;
  }
  .aimg{
    margin-left: -4em;
    height: 0.7em;
  }
  .searchdiv{
margin-left: -7em;
width: 100px;
  }
  .card{
margin-left:5em ;
  }
  .icon{
   margin-top: -0.4em;
   margin-left: -1em; 
  }

}
